# Python
__pycache__/
*.pyc

# Virtual env
.venv/

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# uploads
uploads/
outputs/

# AI models
models/
*.pt
*.onnx

# Logs
*.log

# Environment
.env

# Test Data
test_data/